@{
    ViewData["Title"] = "گروه بندی محصولات";
}

<div class="flex items-center justify-between mb-2 lg:mb-4">
    <button type="button" class="btn btn-sky">
        <svg>
            <use xlink:href="#plus" />
        </svg>
        <span>ایجاد رکورد جدید</span>
    </button>

    <div class="table-search">
        <button type="button">
            <svg>
                <use xlink:href="#search" />
            </svg>
        </button>
        <input type="text" />
    </div>
</div>

<table class="table">
    <thead>
        <tr>
            <th>#</th>
            <th>عنوان</th>
            <th>اسلاگ</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>1</td>
            <td>کت شلوار</td>
            <td>کت-شلوار</td>
        </tr>
        <tr>
            <td>2</td>
            <td>کت شلوار</td>
            <td>کت-شلوار</td>
        </tr>
        <tr>
            <td>3</td>
            <td>کت شلوار</td>
            <td>کت-شلوار</td>
        </tr>
        <tr>
            <td>4</td>
            <td>کت شلوار</td>
            <td>کت-شلوار</td>
        </tr>
        <tr>
            <td>5</td>
            <td>کت شلوار</td>
            <td>کت-شلوار</td>
        </tr>
        <tr>
            <td>6</td>
            <td>کت شلوار</td>
            <td>کت-شلوار</td>
        </tr>
    </tbody>
</table>
